In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
print(data.loc["Первый"])

Январь

In [4]:
print(data.loc[["Первый", "Третий"]])

Первый    Январь
Третий      Март
dtype: object

In [5]:
print(data.iloc[0])

Январь

In [6]:
print(data.iloc[[0, 2]])

Первый    Январь
Третий      Март
dtype: object

In [10]:
data = pd.Series(list(range(10, 1001)))

In [11]:
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [12]:
  data = pd.Series(list(range(10, 1001)))

In [13]:
pd.Series([3,7,12,26], index = ["Кот", "Собака", "Корова", "Лемур"])

Кот        3
Собака     7
Корова    12
Лемур     26
dtype: int64

In [14]:
df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [15]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [16]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
print(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object